*{
  margin:0;
  text-decoration: none;
  color: inherit;

}
@font-face{
	font-family: 'Uni Sans';
	src: url('../fonts/Uni Sans Thin Italic.otf') format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face{
	font-family: 'Uni Sans';
	src: url('../fonts/Uni Sans Thin.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Uni Sans';
	src: url('../fonts/Uni Sans Heavy Italic.otf') format("opentype");
	font-weight: bold;;
	font-style: italic;
}

@font-face{
	font-family: 'Uni Sans';
	src: url('../fonts/Uni Sans Heavy.otf') format("opentype");
	font-weight: bold;
	font-style: normal;
}

.title{
  position: absolute;
  font-size: calc( ( 8vh + 8vw ) / 2 );
  font-family: "Uni Sans";
  top:15%;
  margin-left:50%;
  transform: translate(-50%,-15%);
  font-weight: bold;

}
.title#page-etu{
  color:#fff;

}
.title#page-exp{
  color:#000;
}

.title#page-com{
  color:#fff;
  top:30%;
  transform: translate(-50%,-30%);
}

.title#contact{
  top:2%;
  transform: translate(-50%,-2%);
  color:#000;
}

.menu{
  position: fixed;
  z-index: 999;
  top:95%;
  margin-left: 50%;
  transform: translate(-50%,-95%);
}

ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
}

li {

  display: inline-block;
  height: calc( ( 4vh + 4vw ) / 2 );
  width: calc( ( 10vh + 10vw ) / 2 );
  padding:  calc( ( 2vh + 2vw ) /2 ) calc( ( 2vh + 2vw ) / 2 ) calc( ( 2vh + 2vw ) / 2 ) calc( ( 2vh + 2vw ) / 2 );
  margin-right: calc( ( 5vh + 5vw ) / 2 );
  font-size: calc( ( 1.5vh + 1.5vw ) / 2 );
  text-align: center;
  background-color: #000;
  transition:background-color 0.75s;
}
.liwhite{
  background-color: #fff;
}

ul li a {
    height: calc( ( 4vh + 4vw ) / 2 );
    width: calc( ( 10vh + 10vw ) / 2 );
    display: block;
    position: absolute;
    top:40%;
    transform: translateY(-40%);
    font-family: "Uni Sans";
    color : #fff;

  }
ul li a p{
      position: absolute;
      top:50%;
      margin-left: 50%;
      transform: translate(-50%, -50%);
  }

.ulliadark{
  color : #000;
}
li:last-child{
  margin-right: 0;
}


.back-black{
  position: relative;
  width: 100%;
  height: 190vh;
  background-color: #000;
}
.back-white{
  position: relative;
  width: 100%;
  height: 190vh;
  background-color: #fff;
}

.cv{

  position: absolute;
  height: 100%;
  width: 100%;

}

.cv1{
  position: relative;
  height: 50%;
  width: 100%;
  text-align: center;

}
  .cv1 p{

  position: relative;
  font-family: "Uni Sans";
  font-size: calc( ( 12vh + 12vw ) / 2 );
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;

  }
.cv2{
  position: absolute;
  top:30%;
  height: 10%;
  width: 100%;

}

  .cv2 p{

  position: relative;
  font-family: "Century Gothic";
  font-size: calc( ( 3vh + 3vw ) / 2 );
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

}

.cv3{
  position: absolute;
  top:55%;
  height: 40%;
  width: 100%;
  background-color: #eee;
  -o-transition: background-color 0.75s;
  -moz-transition: background-color 0.75s;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75;

}
.cv3:hover{

  background-color: #ccc;

}

.cv3 p{

  position: relative;
  padding:  calc( ( 25vh + 25vw ) / 2 );
  font-family: "Century Gothic";
  font-size: calc( ( 2.5vh + 2.5vw ) / 2 );
  top: 50%;
  transform: translateY(-50%);
  text-align: justify;
}

.dot{
  z-index: 999;
  position: absolute;
  height: 20px;
  width: 20px;
  top:26%;
  margin-left:50%;
  transform: translate(-50%, -26%);
  background-color: #000;
  border-radius: 100%;

}

.etudes{
  position:absolute;
  height:80%;
  width:100%;
  top:50%;
  transform: translateY(-50%);

}

.etudesbox{
  position: absolute;
  height: 15%;
  width: 20%;
  background-color: #000;
  padding: calc( ( 1vh + 1vw ) / 2 );
  border-right: 1vh dotted #fff;

}

.etudesbox#etubox1{
  top:52%;
  margin-left: 35%;
  transform: translate(-35%,-52%);
}
.etudesbox#etubox2{
  top:52%;
  margin-left: 70%;
  transform: translate(-70%,-52%);
}

.etudesbox p{

  position: relative;
  font-size: calc( ( 2vh + 2vw ) / 2 );
  color: #ddd;
  position: relative;
  top:50%;
  font-family: "Century Gothic";
  text-align: justify;
  transform: translateY(-50%);
  -o-transition: text-shadow 0.50s, color 0.5s;
  -moz-transition: text-shadow 0.50s, color 0.5s;
  -webkit-transition: text-shadow 0.50s, color 0.5s;
  transition: text-shadow 0.50s, color 0.5s;

}
.etudesbox:hover p{

  color: #ffffff;
  text-shadow: 0 0 0.8vh #fff;


}
.date{
  position: absolute;
  height: 6%;
  width: 8%;
  border-left: 1vh solid #fff;
  top:64%;

}

.date#date2016{
  margin-left: 22%;
  transform: translate(-22%,-64%);
}

.date#date2015{
  margin-left: 90%;
  transform: translate(-90%,-64%);
}

.date p{
  position: relative;
  font-size: calc( ( 2vh + 2vw ) / 2 );
  font-family: "Uni Sans";
  color:#fff;
  top:90%;
  margin-left: 20%;
  transform: translate(-20%,-90%);
  font-weight: bold;
}

.experience{
  position: relative;
  height: 90%;
  width: 90%;
  top:50%;
  margin-left: 50%;
  transform: translate(-50%,-50%);

}

.timeline{
  position: absolute;

}

.timeline#etu{
  border-bottom: 1vh solid #fff;
  width:90%;
  top:60%;
  margin-left: 100%;
  transform: translate(-100%,-60%);

}

.timeline#exp{
  border-left: 1vh dotted #000;
  height:50%;
  top:65%;
  margin-left: 50%;
  transform: translate(-50%,-65%);

}

.circle {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width:2vh;
  height:2vh;
  border-style:solid;
  border-width:1vh;
  border-color:#000;
  top:84%;
  margin-left: 50%;
  transform: translate(-50%,-84%);

}

.expbox{
  position: absolute;
  height: 30vh;
  width: 30vw;
  background-color: #ccc;
  padding: calc( ( 3vh + 3vw ) / 2 );

}

.expboxarrow{
  position: absolute;
  height: 1vh;
  width: 5vw;
  background-color: #ccc;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;

}

.expbox#expbox1{
  top:50%;
  margin-left:90%;
  transform: translate(-90%,-50%);

}
.expboxarrow#expbox1{
  top:49%;
  margin-left:55%;
  transform: translate(-55%,-49%);

}

.expbox p{
  font-size: calc( ( 2vh + 2vw ) / 2 );
  font-family: "Century Gothic";
  text-align: justify;
}

#boxcompetence	{

  width: 100%;
  height: 100%;

}
.boxcompetence	{
  position: absolute;
  width: calc( ( 12vh + 12vw ) / 2 );
  height: calc( ( 12vh + 12vw ) / 2 );
  overflow: hidden;
	margin: 0 4px 0 0;
  background: white;
  border: 0.5vh solid #fff;
  border-radius: 5%;
  }

.boxcompetence#combox1{
  top:45%;
  margin-left: 30%;
  transform: translate(-30%,-45%);
}

.boxcompetence#combox2{
  top:45%;
  margin-left: 50%;
  transform: translate(-50%,-45%);
}

.boxcompetence#combox3{
  top:45%;
  margin-left: 70%;
  transform: translate(-70%,-45%);
}

.boxcompetence#combox4{
  top:65%;
  margin-left: 30%;
  transform: translate(-30%,-65%);
}

.boxcompetence#combox5{
  top:65%;
  margin-left: 50%;
  transform: translate(-50%,-65%);
}

.boxcompetence#combox6{
  top:65%;
  margin-left: 70%;
  transform: translate(-70%,-65%);
}
#boxcompetence-img	{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top:0;
  -o-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;

}
#boxcompetence-img #img1	{
  height: 100%;
  width: 100%;
  background: url("../img/c.png");
  background-size: 100% 100%;

}
#boxcompetence-img #img2	{
  height: 100%;
  width: 100%;
  background: url("../img/java.png");
  background-size: 100% 100%;

}
#boxcompetence-img #img3	{
  height: 100%;
  width: 100%;
  background: url("../img/python.png");
  background-size: 100% 100%;

}
#boxcompetence-img #img4	{
  height: 100%;
  width: 100%;
  background: url("../img/html.png");
  background-size: 100% 100%;

}

#boxcompetence-img #img5	{
  height: 100%;
  width: 100%;
  background: url("../img/css.png");
  background-size: 100% 100%;

}

#boxcompetence-img #img6	{
  height: 100%;
  width: 100%;
  background: url("../img/js.png");
  background-size: 100% 100%;

}

.boxcompetence:hover #boxcompetence-img	{
  top:-100%;
 }

.boxcompetence-content	{
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: 'Uni Sans';
  padding: calc( ( 4vh + 4vw ) / 2 );
  font-size: calc( ( 3vh + 3vw ) / 2 );
  background-color: #fff;
}

.contact{
  position: absolute;
  height: 42%;
  width: 60%;
  top:50%;
  margin-left: 50%;
  transform: translate(-50%,-50%);
  border: 1vh solid #000;

}

textarea{
  position: absolute;
  height: 35%;
  width: 55%;
  border: 0.6vh solid #000;
  font-family: 'Century Gothic';
  font-size: calc( ( 3vh + 3vw ) / 2 );
  padding: calc( ( 2vh + 2vw ) / 2 );
  resize: none;
  top:90%;
  margin-left: 50%;
  transform: translate(-50%,-90%);

}

input{

  position: absolute;
  height: 5%;
  width: 57%;
  border: 0.6vh solid #000;
  font-family: 'Century Gothic';
  font-size: calc( ( 2vh + 2vw ) / 2 );
  padding: calc( ( 1.1vh + 1.1vw ) / 2 );
  resize: none;
  margin-left: 50%;
}

input#adresse{
  top:28%;
  transform: translate(-50%,-28%);

}
input#sujet{

  top:42%;
  transform: translate(-50%,-42%);
}
input#send{
  position: absolute;
  height: 10%;
  width: 10%;
  border: 0.6vh solid #000;
  font-family: 'Century Gothic';
  font-size: calc( ( 2vh + 2vw ) / 2 );
  padding: calc( ( 1vh + 1vw ) / 2 );
  resize: none;
  margin-left: 95%;
  top:94%;
  transform: translate(-95%,-94%);
  background-color: #000;
  color: #fff;
}
input#send:active{
  position: absolute;
  height: 10%;
  width: 10%;
  border: 0.6vh solid #111;
  font-family: 'Century Gothic';
  font-size: calc( ( 2vh + 2vw ) / 2 );
  padding: calc( ( 1vh + 1vw ) / 2 );
  resize: none;
  margin-left: 95%;
  top:94%;
  transform: translate(-95%,-94%);
  background-color: #222;
  color: #fff;
}

.footer{
	height:2.6vh;
	width:100%;
	text-align:center;
	color: #ffffff;
	background: #111119;
	position: relative;
  padding: calc((0.2vh + 0.2vw) / 2);
	font-size: calc((1.5vh + 1.5vw) / 2);

}
